<%- include("../partials/head", { title: "DinoPark - Page de réservation" }) %>

<main class="page">

  <section class="booking-step-container">
    <div class="booking-step">
      <p id="booking-first-step" class="active-step">1</p>
      <p class="step-name">Choix des billets</p>
    </div>
    <div class="booking-step">
      <p id="booking-second-step" class="inactive-step">2</p>
      <p class="step-name">Informations personnelles</p>
    </div>
    <div class="booking-step">
      <p id="booking-third-step" class="inactive-step">3</p>
      <p class="step-name">Paiement</p>
    </div>
  </section>
  <form action="/booking" method="post">
    <section id="first-booking-page" class="first-booking-page">
      <section class="booking-page-left-column">
        <h1>Réservez votre aventure</h1>
        <p class="booking-page-paragraph">Sélectionnez la date de votre visite et choisissez le nombre de billets adapté pour votre groupe</p>
        <div class="booking-date-container">
          <h3>Sélectionner la date de la visite</h3>
          <p class="booking-page-paragraph">Indiquez à quelle date vous souhaitez visiter DinoPark.</p>
          <input id="visit_date" name="visit_date" class="booking-page-date-input" type="date" required>
        </div>
        <div>
          <h2>Choisissez vos billets</h2>
          <% tickets.forEach((ticket)=> { %>
          <div class="booking-page-ticket-card">
            <div class="booking-page-ticket-card-details">
              <p class="ticket-bold-name">
                <%= ticket.icon %> <span class="ticket-name"><%= ticket.ticket_type %></span>
              </p>
              <p>
                <%= ticket.audience %>
              </p>
              <p>
                <span class="bold"><span class="ticket-price-PH"><%= ticket.ticket_price %></span> €</span>/personne
              </p>
            </div>
            <div class="ticket-quantity-button-container">
              <button class="decrease-button" type="button">-</button>
              <input type="text" name="ticket_quantities[<%= ticket.ticket_type %>]" class="ticket-quantity" value="0" readonly />
              <button class="increase-button" type="button">+</button>
            </div>
          </div>
          <% }); %>
        </div>
      </section>
      <section class="booking-page-right-column">
        <div class="summary-card">
          <h2 class="summary-card-title">Récapitulatif de la commande</h2>
          <hr class="section-divider">
          <p id="booking-summary">Aucun billet sélectionné</p>
        </div>
        <div class="centering"><button id="booking-step-one-button" type="button" class="transparent-button orange-button">Réserver</button></div>
      </section>
    </section>

    <section id="second-booking-page" class="second-booking-page hidden">
      <h2 class="centering">Saisissez vos informations personnelles</h2>
      <fieldset class="fieldset">
        <div class="form-group">
          <label for="firstname">Prénom :</label>
          <input type="text" id="firstname" name="firstname" minlength="2" maxlength="50" required />
        </div>
        <div class="form-group">
          <label for="surname">Nom de famille :</label>
          <input type="text" id="surname" name="surname" minlength="2" maxlength="50" required />
        </div>
        <div class="form-group">
          <label for="email">Adresse e-mail :</label>
          <input type="email" id="email" name="email" required />
        </div>
      </fieldset>
      <div class="centering"><button id="booking-step-two-button" type="button" class="transparent-button orange-button">Valider</button></div>
    </section>

    <section id="third-booking-page" class="third-booking-page hidden">
      <h2 class="centering">Saisissez les informations de paiement</h2>
      <fieldset class="fieldset" id="payment-details">
        <div class="form-group">
          <label for="card_type">Méthode de paiement :</label>
          <select id="card_type" name="card_type" required>
            <option value="">-- Sélectionner --</option>
            <option value="visa">Visa</option>
            <option value="mastercard">MasterCard</option>
            <option value="amex">American Express</option>
          </select>
        </div>
        <div class="form-group">
          <label for="card_number">Numéro de carte :</label>
          <input type="text" id="card_number" name="card_number" required maxlength="19" />
          <div class="hidden" id="card-validity-message"></div>
        </div>
        <div class="form-group">
          <label for="expiry_date">Expiration :</label>
          <input type="month" id="expiry_date" name="expiry_date" placeholder="2020-01" required />
        </div>
        <div class="form-group">
          <label for="security_code">Code de sécurité :</label>
          <input type="text" id="security_code" name="security_code" maxlength="4" required />
        </div>
        <div class="form-group">
          <label for="card_holder">Nom du titulaire :</label>
          <input type="text" id="card_holder" name="card_holder" required />
        </div>
      </fieldset>
      <fieldset class="fieldset">
        <h2>Récapitulatif de la commande</h2>
        <p id="final-summary"></p>
      </fieldset>
      <div class="centering"><button id="booking-submit-button" type="submit" class="transparent-button orange-button">Payer</button></div>
    </section>

  </form>
</main>
<%- include("../partials/footer") %>